/* Fix for leaflet default marker icons */
.leaflet-default-icon-path {
  background-image: url(https://unpkg.com/leaflet@1.9.4/dist/images/marker-icon.png);
}

.leaflet-container .leaflet-marker-icon {
  margin-left: -12px;
  margin-top: -41px;
}
